<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-SocketIO Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Flask-SocketIO Example</h1>
    <button id="getDataButton">Get Data</button>
    <div id="data"></div>

    <script type="text/javascript">
        var socket = io.connect(window.location.origin);

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('message', function(msg) {
            console.log(msg.data);
        });

        socket.on('data_response', function(data) {
            document.getElementById('data').innerText = 'Received data: ' + data.value;
        });

        document.getElementById('getDataButton').addEventListener('click', function() {
            socket.emit('request_data');
        });
    </script>
</body>
</html>
